프로그래밍3 프로젝트

201902138 권은비

In [67]:
#필요한 import
import pandas as pd
import numpy as np

#데이터 설명

- 이 데이터의 출처는 경기도 통계 데이터에서 얻은 데이터입니다.
- 이 데이터는 경기도에 있는 대학교와 관련된 데이터입니다.
- 2020년도 경기도 대학교 교지 면적, 남녀 학생 수, 학과학부수 데이터가 담겨져있습니다.

#데이터 탐색 및 분석 포인트 설명

- 데이터 셋을 확인한다.
- 데이터 전처리 과정을 치룬다.
- 2020년도 경기도 대학교 건물 면적이 클수록 학생 수가 많는 지를 중점으로 분석할 예정이다.
- 시각화/ 그래프 활용하여 비교분석
- 결과 의미도출

In [68]:
#파일 읽어오기
df = pd.read_csv('dff.csv',encoding='cp949',index_col=0)

In [76]:
#데이터 확인
df.head(10)

       대학별(2)    대학별(3)  학과학부수 (개)   학생수 (명)  남자학생수 (명)  여자학생수 (명)  교지면적 (천㎡)
대학별(1)
남부         소계        소계     1178.0  208139.0   118354.0    89785.0     2310.0
남부         수원     아주대학교       40.0   13742.0     8966.0     4776.0      147.0
남부         수원     경기대학교       51.0   16512.0     8998.0     7514.0      133.0
남부         수원  국제사이버대학교        5.0    3590.0     1327.0     2263.0        2.0
남부         성남     가천대학교       85.0   25467.0    14086.0    11381.0      287.0
남부         성남     을지대학교       36.0    4925.0     1880.0     3045.0       69.0
남부         안양     안양대학교       62.0    6165.0     3303.0     2862.0       51.0
남부         안양     성결대학교       31.0    7199.0     3814.0     3385.0       59.0
남부         부천    가톨릭대학교       57.0    9611.0     4458.0     5153.0       84.0
남부         부천   서울신학대학교       12.0    2770.0     1105.0     1665.0       40.0

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 41 entries, 남부 to 북부
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   대학별(2)     41 non-null     object
 1   대학별(3)     41 non-null     object
 2   학과학부수 (개)  41 non-null     object
 3   학생수 (명)    41 non-null     object
 4   남자학생수 (명)  41 non-null     object
 5   여자학생수 (명)  41 non-null     object
 6   교지면적 (천㎡)  41 non-null     object
dtypes: object(7)
memory usage: 2.6+ KB

<object 데이터를 float으로 바꾸기>

- 해당 데이터에서 -값을 0으로 변경하기

In [71]:
#데이터 전처리
df['학과학부수 (개)'] = df['학과학부수 (개)'].str.replace('-', '0')

In [72]:
df['학과학부수 (개)'].head

<bound method NDFrame.head of 대학별(1)
남부    1,178
남부       40
남부       51
남부        5
남부       85
남부       36
남부       62
남부       31
남부       57
남부       12
남부       54
남부       64
남부       60
남부       35
남부        0
남부       26
남부       58
남부       70
남부        5
남부       49
남부        1
남부       53
남부        9
남부       52
남부       52
남부        6
남부        1
남부      153
남부       17
남부       24
남부        3
남부        7
북부      151
북부       29
북부        8
북부        0
북부       12
북부       21
북부       11
북부       57
북부       13
Name: 학과학부수 (개), dtype: object>

In [73]:
df['학생수 (명)'] = df['학생수 (명)'].str.replace('-', '0')
df['남자학생수 (명)'] = df['남자학생수 (명)'].str.replace('-', '0')
df['여자학생수 (명)'] = df['여자학생수 (명)'].str.replace('-', '0')
df['교지면적 (천㎡)'] = df['교지면적 (천㎡)'].str.replace('-', '0')

- ,값을 없애기

In [74]:
df['학생수 (명)'] = df['학생수 (명)'].str.replace(',', '').astype(float)
df['학과학부수 (개)'] = df['학과학부수 (개)'].str.replace(',', '').astype(float)
df['남자학생수 (명)'] = df['남자학생수 (명)'].str.replace(',', '').astype(float)
df['여자학생수 (명)'] = df['여자학생수 (명)'].str.replace(',', '').astype(float)
df['교지면적 (천㎡)'] = df['교지면적 (천㎡)'].str.replace(',', '').astype(float)

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 41 entries, 남부 to 북부
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   대학별(2)     41 non-null     object
 1   대학별(3)     41 non-null     object
 2   학과학부수 (개)  41 non-null     float64
 3   학생수 (명)    41 non-null     float64
 4   남자학생수 (명)  41 non-null     float64
 5   여자학생수 (명)  41 non-null     float64
 6   교지면적 (천㎡)  41 non-null     float64
dtypes: float64(5), object(2)
memory usage: 2.6+ KB

- 데이터 타입을 변경완료

In [77]:
df.dtypes.value_counts()

float64    5
object     2
dtype: int64

In [78]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
학과학부수 (개),41.0,64.829268,181.659971,0.0,9.0,31.0,57.0,1178.0
학생수 (명),41.0,11667.219512,32174.009994,0.0,1026.0,5796.0,9611.0,208139.0
남자학생수 (명),41.0,6670.195122,18323.433959,0.0,697.0,3101.0,6081.0,118354.0
여자학생수 (명),41.0,4997.024390,13874.522045,0.0,336.0,2441.0,4225.0,89785.0
교지면적 (천㎡),41.0,132.341463,358.489024,0.0,13.0,59.0,101.0,2310.0

In [83]:
df2 = df[['대학별(3)', '학생수 (명)', '교지면적 (천㎡)']]
df2

                 대학별(3)   학생수 (명)  교지면적 (천㎡)
대학별(1)
남부                   소계  208139.0     2310.0
남부                아주대학교   13742.0      147.0
남부                경기대학교   16512.0      133.0
남부             국제사이버대학교    3590.0        2.0
남부                가천대학교   25467.0      287.0
남부                을지대학교    4925.0       69.0
남부                안양대학교    6165.0       51.0
남부                성결대학교    7199.0       59.0
남부               가톨릭대학교    9611.0       84.0
남부              서울신학대학교    2770.0       40.0
남부                평택대학교    4820.0       53.0
남부                한양대학교   13427.0      156.0
남부                한신대학교    7435.0       62.0
남부            한국산업기술대학교    9661.0       85.0
남부      한국산업기술대학교(산업대학)       0.0        0.0
남부                한세대학교    3370.0       43.0
남부                강남대학교    8973.0       71.0
남부                단국대학교   16350.0      184.0
남부                루터대학교     417.0        8.0
남부          명지대학교 자연캠퍼스    9056.0      124.0
남부           삼성전자 공과대학교      69.0        0.0
남부                용인대학교    8610.0       96.0
남부                칼빈대학교     701.0        7.0
남부                한경대학교    7423.0       96.0
남부          중앙대학교 안성캠퍼스    6946.0      101.0
남부              중앙승가대학교     147.0       18.0
남부             수원가톨릭대학교     174.0       11.0
남부                수원대학교   12484.0      223.0
남부                신경대학교    1026.0       10.0
남부                협성대학교    5624.0       63.0
남부              서울장신대학교     599.0       13.0
남부           아세아연합신학대학교     846.0       12.0
북부                   소계   31039.0      404.0
북부                신한대학교    6503.0       25.0
북부          신한대학교 제2캠퍼스    1868.0       69.0
북부                한북대학교       0.0        0.0
북부              한국항공대학교    5796.0       56.0
북부          경동대학교 제4캠퍼스    3286.0       47.0
북부        예원예술대학교 제2캠퍼스     519.0        8.0
북부                대진대학교   10306.0      170.0
북부              차의과학대학교    2761.0       29.0

In [81]:
#대학별로 교지면적의 최대값 순서배열 
(
df[['대학별(3)', '학생수 (명)', '교지면적 (천㎡)']]
.sort_values(['교지면적 (천㎡)','학생수 (명)'], ascending = False)
.drop_duplicates(subset='학생수 (명)')
)

                 대학별(3)   학생수 (명)  교지면적 (천㎡)
대학별(1)
남부                   소계  208139.0     2310.0
북부                   소계   31039.0      404.0
남부                가천대학교   25467.0      287.0
남부                수원대학교   12484.0      223.0
남부                단국대학교   16350.0      184.0
북부                대진대학교   10306.0      170.0
남부                한양대학교   13427.0      156.0
남부                아주대학교   13742.0      147.0
남부                경기대학교   16512.0      133.0
남부          명지대학교 자연캠퍼스    9056.0      124.0
남부          중앙대학교 안성캠퍼스    6946.0      101.0
남부                용인대학교    8610.0       96.0
남부                한경대학교    7423.0       96.0
남부            한국산업기술대학교    9661.0       85.0
남부               가톨릭대학교    9611.0       84.0
남부                강남대학교    8973.0       71.0
남부                을지대학교    4925.0       69.0
북부          신한대학교 제2캠퍼스    1868.0       69.0
남부                협성대학교    5624.0       63.0
남부                한신대학교    7435.0       62.0
남부                성결대학교    7199.0       59.0
북부              한국항공대학교    5796.0       56.0
남부                평택대학교    4820.0       53.0
남부                안양대학교    6165.0       51.0
북부          경동대학교 제4캠퍼스    3286.0       47.0
남부                한세대학교    3370.0       43.0
남부              서울신학대학교    2770.0       40.0
북부              차의과학대학교    2761.0       29.0
북부                신한대학교    6503.0       25.0
남부              중앙승가대학교     147.0       18.0
남부              서울장신대학교     599.0       13.0
남부           아세아연합신학대학교     846.0       12.0
남부             수원가톨릭대학교     174.0       11.0
남부                신경대학교    1026.0       10.0
북부        예원예술대학교 제2캠퍼스     519.0        8.0
남부                루터대학교     417.0        8.0
남부                칼빈대학교     701.0        7.0
남부             국제사이버대학교    3590.0        2.0
남부           삼성전자 공과대학교      69.0        0.0
남부      한국산업기술대학교(산업대학)       0.0        0.0

In [82]:
#대학별로 학생수 최대값순으로 정렬
(
df[['대학별(3)', '학생수 (명)', '교지면적 (천㎡)']]
.sort_values(['학생수 (명)','교지면적 (천㎡)'], ascending = False)
.drop_duplicates(subset='학생수 (명)')
)

                 대학별(3)   학생수 (명)  교지면적 (천㎡)
대학별(1)
남부                   소계  208139.0     2310.0
북부                   소계   31039.0      404.0
남부                가천대학교   25467.0      287.0
남부                경기대학교   16512.0      133.0
남부                단국대학교   16350.0      184.0
남부                아주대학교   13742.0      147.0
남부                한양대학교   13427.0      156.0
남부                수원대학교   12484.0      223.0
북부                대진대학교   10306.0      170.0
남부            한국산업기술대학교    9661.0       85.0
남부               가톨릭대학교    9611.0       84.0
남부          명지대학교 자연캠퍼스    9056.0      124.0
남부                강남대학교    8973.0       71.0
남부                용인대학교    8610.0       96.0
남부                한신대학교    7435.0       62.0
남부                한경대학교    7423.0       96.0
남부                성결대학교    7199.0       59.0
남부          중앙대학교 안성캠퍼스    6946.0      101.0
북부                신한대학교    6503.0       25.0
남부                안양대학교    6165.0       51.0
북부              한국항공대학교    5796.0       56.0
남부                협성대학교    5624.0       63.0
남부                을지대학교    4925.0       69.0
남부                평택대학교    4820.0       53.0
남부             국제사이버대학교    3590.0        2.0
남부                한세대학교    3370.0       43.0
북부          경동대학교 제4캠퍼스    3286.0       47.0
남부              서울신학대학교    2770.0       40.0
북부              차의과학대학교    2761.0       29.0
북부          신한대학교 제2캠퍼스    1868.0       69.0
남부                신경대학교    1026.0       10.0
남부           아세아연합신학대학교     846.0       12.0
남부                칼빈대학교     701.0        7.0
남부              서울장신대학교     599.0       13.0
북부        예원예술대학교 제2캠퍼스     519.0        8.0
남부                루터대학교     417.0        8.0
남부             수원가톨릭대학교     174.0       11.0
남부              중앙승가대학교     147.0       18.0
남부           삼성전자 공과대학교      69.0        0.0
남부      한국산업기술대학교(산업대학)       0.0        0.0

In [ ]:
#학생수와 교지면적 그래프

In [ ]:
#비교분석

In [ ]:
#의미도출 및 결과